*/*/*.mp4 filter=lfs diff=lfs merge=lfs -text
*/*/*.pptx filter=lfs diff=lfs merge=lfs -text
Presentation[[:space:]]Skills/Final[[:space:]]Presentation[[:space:]]-[[:space:]]Gemini/Gemini[[:space:]]Demo.mp4 filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.pptx filter=lfs diff=lfs merge=lfs -text
